trunk/movida/src/movida/xml/persons.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="movida-xml-doc">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="person">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="first-name" type="xs:string" />
              <xs:element minOccurs="0" name="last-name" type="xs:string" />
              <xs:element maxOccurs="unbounded" name="urls" type="url_node">
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:int" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="version" type="xs:decimal" use="optional" />
      <xs:attribute name="update" type="xs:dateTime" use="optional" />
      <xs:attribute name="items" type="xs:int" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:complexType name="url_node">
    <xs:sequence>
      <xs:element name="id" type="xs:unsignedInt" />
    </xs:sequence>
    <xs:attribute name="default" type="xs:boolean" />
  </xs:complexType>
</xs:schema>