trunk/docs/mmc_sample/metadata.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="movida-xml-doc">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="info">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="movies" type="xs:unsignedInt" />
              <xs:element name="name" type="xs:string" />
              <xs:element name="notes" type="xs:string" />
              <xs:element name="owner" type="xs:string" />
              <xs:element name="website" type="xs:string" />
              <xs:element name="email" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="version" type="xs:unsignedShort" use="optional" />
      <xs:attribute name="items" type="xs:unsignedInt" use="optional" />
      <xs:attribute name="update" type="xs:dateTime" use="optional" />
    </xs:complexType>
  </xs:element>
</xs:schema>